* {
    font-family: righteous;
}
body {
    background-image: url("../images/bakgrund.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto; 
}

@font-face {
    font-family: righteous;
    src: url("../fonts/Righteous-Regular.ttf");
  }

  ::placeholder{
      color: #c2c3cf;
  }