
* {
    font-family: righteous;
}

.nav-div{
    display: flex;  
    background-color: #d2deeb;
    color: #4663AC;
    font-size: 5vh;
    height: 10vh; 

}

.div-back{
    width: 64px;
    padding-left: 4vw;
    height: 100%;
}

.div-header{
    width: 100%;
    padding-right: 4vw;
    margin: auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

